<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Mask Detection</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</head>
<body>
    <div id="banner">
        <div id="project-name">
            <p>Face Mask Detection</p>
        </div>
        <div id="team-name">
            <p>from Tim5TapiBertiga</p>
        </div>
        <div id="mask-img">
            <!-- Video From Camera using JS -->
            <video id="videoElement" autoplay="true" playsinline></video>
            <!-- For Processes Camera Input -->
            <img id="camera-output" alt="">
        </div>
    </div>
    <div id="util">
        <button id="stop-cam">STOP CAMERA</button>
        <form action="#" method="post">
            <input type="submit" name="changeCam" value="CHANGE CAMERA">
        </form>
    </div>
    <script src="/static/cam.js"></script>
</body>
</html>